{% include header.html %}
<main id="main-content" class="grid-container">
    {% include step-indicator.html %}
    <div class="measure-4">   
        {{ content }}
        {% if page.resources %}
        {% include resource-accordion.html %}
        {% endif %}
        <div class="grid-row">
            <div class="grid-col mobile-lg:grid-col-auto padding-right-05">
                <a href="situation.html" id="startOver" class="usa-button usa-button--outline usa-button--big">Start
                    over</a>
            </div>
        </div>
    </div>
</main>
{% include footer.html %}